.article-header {
  margin-bottom: $line-height-computed;
  padding-bottom: $padding-large-vertical;
  border-bottom: 1px solid $gray-lighter;
  .meta {
    @extend .text-muted;
    .delimiter {
      padding: 0 $padding-xs-horizontal;
      @extend .small;
    }
  }
}

.article_body {
  table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
    // @extend .table-condensed;
  }
  img {
    @extend .img-thumbnail;
    // @extend .img-responsive;
  }
  $article-body-heading-top-level: 2;
  h#{$article-body-heading-top-level} {
    @extend .page-header;
  }
}
