.blog-header {
  margin-bottom: $line-height-computed;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
  @include gradient-vertical(darken($brand-primary, 25%), darken($brand-primary, 15%), 0%, 100%);
  color: $component-active-color;
  h1 {
    font-size: floor($font-size-base * 3.6);
  }
  a {
    color: $component-active-color;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.blog-footer {
  margin-top: $line-height-computed * 3;
  padding-top: $padding-large-vertical * 3;
  padding-bottom: $padding-large-vertical * 3;
  border-top: 1px solid $gray-lighter;
  @extend .text-muted;
}
