.blog-header {
  margin-bottom: $line-height-computed;
  padding-top: $padding-large-vertical;
  padding-bottom: $padding-large-vertical;
  background-color: darken($brand-primary, 15%);
  // background-color: #b15da3;
  color: $component-active-color;
  h1 {
    font-size: floor($font-size-base * 3.6);
  }
  a {
    color: $component-active-color;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.blog-footer {
  margin: 20px -15px 0 -15px;
  padding: 30px 15px;
  color: #999;
  // text-align: center;
  // background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
